server {
    listen 80;

    server_name _;
    root        /var/www/web;
    client_max_body_size 500M;

    error_log   /var/log/nginx/error.log;
    access_log  /var/log/nginx/access.log;

    location / {
        # try to serve file directly, fallback to app/app_dev.php
        {% if SYMFONY_ENV == "dev" %}
            try_files $uri /app_dev.php$is_args$args;
        {% else %}
            try_files $uri /app.php$is_args$args;
        {% endif %}
    }

    {% if SYMFONY_ENV == "dev" %}
    location ~ ^/app_dev\.php(/|$) {
    {% else %}
    location ~ ^/app\.php(/|$) {
    {% endif %}
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        fastcgi_read_timeout 600;
        fastcgi_buffer_size 128k;
        fastcgi_buffers 4 256k;
        fastcgi_busy_buffers_size 256k;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        # Prevents URIs that include the front controller. This will 404:
        # http://domain.tld/app.php/some-path
        # Remove the internal directive to allow URIs like this
        internal;
    }
}